<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Display Name</th>
            <th>Email</th>
            <th>Verified</th>
            <th>Photo URL</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items| async">
            <td>{{ item.displayName }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.emailVerified }}</td>
            <td>{{ item.photoURL }}</td>
            <td>{{ item.uid }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{{items | async |json }}